<div id="carouselExampleInterval1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-mazda-3-hatchback-1569347781.jpg?crop=0.813xw:0.745xh;0.0969xw,0.222xh&resize=980:*" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-bmw-8-series-gran-coupe-1584568505.jpg?crop=0.820xw:0.815xh;0.0476xw,0.177xh&resize=980:*" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2017-alfa-romeo-giulia-2-0t-112-1530630011.jpg?crop=0.784xw:0.786xh;0.216xw,0.214xh&resize=980:*" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>