<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/brandLogoNew.png" width=100 alt="HOME">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="authService.user | async; else elseRegister">
      </li>
      <ng-template #elseRegister>
        <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>REGISTER
        </a>
      </ng-template>
      <li class="nav-item" *ngIf="authService.user | async; else elseLogin">
      </li>
      <ng-template #elseLogin>
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>LOGIN
        </a>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['events']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>EVENTS
        </a>
      </li>
      <li *ngIf="authService.user | async" class="nav-item">
        <a class="nav-link" [routerLink]="['page-user']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'fire']"></fa-icon>HOST AN EVENT
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'address-card']"></fa-icon>ABOUT US
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['app-shop']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>SHOP
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['app-broadcast']" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'broadcast-tower']"></fa-icon>BROADCAST
        </a>
      </li>
      <li *ngIf="authService.user | async" class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="logout()"
          style="cursor: pointer; color: rgb(255, 0, 0); font-weight: bold;">
          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>LOGOUT
        </a>
      </li>
    </ul>
  </div>
</nav>