<html>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h2>About</h2>
            <h3>This is our final year project on community web portal</h3>
        </div>
        <div class="col">
            <h2>Products</h2>
            <ul>
                <li>T-Shirts</li>
                <li>Hoodies</li>
                <li>Caps</li>
            </ul>
        </div>
        <div class="col">
            <h2>Developed using</h2>
            <ul>
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>Firebase</li>
                <li>fontAwesome</li>
                <li>materialDesign</li>
            </ul>
        </div>
        <div class="col">
            <h2>Big Thanks To</h2>
            <ul>
                <li>github.com</li>
                <li>stack overflow</li>
                <li>w3schools</li>
                <li>AngularTemplates.io</li>
            </ul>
        </div>
        <div class="col">
            <h2>Support</h2>
            <ul>
                <li>+61 405675858</li>
                <li>+61 408756921</li>
                <li>jdmcomm@gmail.com</li>
                <li>19 xyz road, werribee, VIC-3030</li>


            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

</html>