<div class="row" style="margin-left: 5px;">
    <div class="col-sm-4">
        <h2>About</h2>
        <ul>
            <a>This is our final year project on community web portal. On this portal a user can sign-in and host or
                attend an event.</a>
        </ul>
    </div>
    <div class="col-sm-2">
        <h2>Products</h2>
        <ul>
            <a [routerLink]="['/app-shop']">T-Shirts</a><br>
            <a [routerLink]="['/app-shop']">Hoodies</a><br>
            <a [routerLink]="['/app-shop']">Caps</a><br>
        </ul>
    </div>
    <div class=" col-sm-2">
        <h2>Developed using</h2>
        <ul>
            <a href="https://angular.io/">Angular</a><br>
            <a href="https://getbootstrap.com/">Bootstrap</a><br>
            <a href="https://firebase.google.com/">Firebase</a><br>
            <a href="https://fontawesome.com/">fontAwesome</a><br>
            <a href="https://material.angular.io/">materialDesign</a><br>
        </ul>
    </div>
    <div class="col-sm-2">
        <h2>Big Thanks To</h2>
        <ul>
            <a href="https://github.com/">github.com</a><br>
            <a href="https://stackoverflow.com/">stackOverflow</a><br>
            <a href="https://www.w3schools.com/">w3schools</a><br>
            <a href="https://angular-templates.io/">AngularTemplates.io</a><br>
            <a>And many others</a><br>
        </ul>
    </div>
    <div class="col-sm-2">
        <h2>Support</h2>
        <ul>
            <a>+61 40567xxxx</a><br>
            <a>+61 40875xxxx</a><br>
            <a>jdmcomm@gmail.com</a><br>
            <a>19 xyz road, werribee, VIC-3030</a><br>


        </ul>
    </div>
</div>