h2,
h3 {
  font-family: "Nunito", sans-serif;
}
.row {
  color: white;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #005266;
}
.row .col-sm-2,
.row .col-sm-4 {
  min-width: 200px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.row .col-sm-2 ul,
.row .col-sm-4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

a:hover {
  color: #7ce5ff;
  text-decoration: none;
}
a {
  transition: 0.5s;
  color: white;
}
