.mat-raised-button {
  margin: 5px;
}
button {
  font-family: "Nunito", sans-serif;
  background-color: #005266;
  transition: 0.5s;
}
button:hover {
  border-radius: 20px;
  background-color: black;
}

h1 {
  font-family: "Nunito", sans-serif;
}
mat-form-field {
  font-family: "Nunito", sans-serif;
}
