table {
  color: white;
  border: none;
  display: block;
  overflow: auto;
}
table td,
th {
  border: 0px;
  padding: 10px;
}
table tr:hover {
  color: #89e7ff;
}
h1 {
  font-family: "Nunito", sans-serif;
}
button {
  font-family: "Nunito", sans-serif;
  background-color: #005266;
  transition: 0.5s;
}
button:hover {
  border-radius: 20px;
  background-color: black;
}
