<h1 *ngIf="authService.user | async; else elseBlock">
    Welcome {{ (authService.user | async)?.email }}!
</h1>
<ng-template #elseBlock>Please login first!</ng-template>
<form [formGroup]="formGroup" *ngIf="authService.user | async">

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="nameFormCtrl" placeholder="Enter your name" type="text" required />
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput formControlName="issueFormCtrl" placeholder="Enter your message" required type="text"
            required />
    </mat-form-field>
    <br>
    <button type="submit" [disabled]="formGroup.invalid" mat-raised-button class="btn btn-dark"
        (click)="onSubmit(formGroup.value)">Send</button>
</form>