<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://use.fontawesome.com/c550f82849.js"></script>
  <title>JdmCommunity</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="mat-app-background">
  <div class="container-fluid">
    <div class="hero-image">
      <div class="hero-text">
        <h1 class="websiteName">JDM COMMUNITY PORTAL</h1>
        <img src="../../assets/brandLogoBig.png" class="webLogo" alt="JDM car meets, track days and more in Victoria!">

      </div>
    </div>

    <app-header></app-header>

    <div class="row">
      <div class="col-sm-2" style="min-width: 200px; ">
        <div class="my-all-buttons">
          <button mat-raised-button class="btn btn-dark" [routerLink]="['app-membership']" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'user-shield']"></fa-icon>
            Membrshp
          </button>
          <button mat-raised-button class="btn btn-dark" onClick="window.open('//paypal.me/jdmcomm?locale.x=en_AU')">
            <fa-icon [icon]="['fas', 'donate']"></fa-icon>
            Donate
          </button>
          <button mat-raised-button class="btn btn-dark" [routerLink]="['app-msgadmin']" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
            Send Bcast
          </button>
          <button mat-raised-button class="btn btn-dark" onClick="window.open('//facebook.com')">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            Facebook
          </button>
          <button mat-raised-button class="btn btn-dark" onClick="window.open('//instagram.com/jdmmastersofficial/')">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            Instagram
          </button>
          <button mat-raised-button class="btn btn-dark" onClick="window.open('//youtube.com/c/JDMMasters/featured')">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            YouTube
          </button>
        </div>
      </div>
      <div class="col-sm-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-sm-2" style="min-width: 200px;">
        <mat-card style="margin: 5px; width: 100%; min-height: 350px;">
          Place your advert here!
          <br>
          contact admin
        </mat-card>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</body>

</html>