body {
  min-height: 101vh;
  background-color: rgb(48, 48, 48);
  font-family: "Nunito", sans-serif;
}

.my-all-buttons .mat-raised-button {
  width: 100%;
  margin: 5px;
}
.hero-image {
  background-image: url("car-meet-wide.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  text-shadow: 5px 5px 4px #444444;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}
.webLogo {
  max-width: 200px;
  padding: 0px;
}
.websiteName {
  padding-top: 30px;
  line-height: 0.8;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black,
    -2px 2px 4px black;
  font-family: "Nunito", sans-serif;
}
button {
  font-family: "Nunito", sans-serif;
  background-color: #005266;
  transition: 0.5s;
}
button:hover {
  border-radius: 20px;
  background-color: black;
}

mat-card {
  font-family: "Nunito", sans-serif;
}

.row {
  padding: 5px;
}

.footer {
  margin-left: 10px;
  width: 100%;
}
.cb-slideshow {
  margin-top: 5px;
  background-image: url("../assets/advert1.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation-name: example;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    background-image: url("../assets/advert1.jpg");
  }
  13% {
    background-image: url("../assets/advert2.jpg");
  }
  33% {
    background-image: url("../assets/advert2.jpg");
  }
  43% {
    background-image: url("../assets/advert3.jpg");
  }
  66% {
    background-image: url("../assets/advert3.jpg");
  }
  76% {
    background-image: url("../assets/advert1.jpg");
  }
  100% {
    background-image: url("../assets/advert1.jpg");
  }
}
