<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron mh-10">
        <h1>JDM COMMUNITY PORTAL</h1>
        <h4 class="text-muted">Its all about japanese cars</h4>
      </div>

      <app-header></app-header>

      <div class="row">
        <div class="col-sm-2 p-3">
          <div class="my-all-buttons">
            <button mat-raised-button onClick="window.open('//paypal.com')">
              Donate
            </button>
            <button mat-raised-button onClick="window.open('//google.com')">
              XMembrshpX
            </button>
            <button mat-raised-button onClick="window.open('//gmail.com')">
              Email Us
            </button>
            <button mat-raised-button onClick="window.open('//facebook.com')">
              Facebook
            </button>
            <button mat-raised-button onClick="window.open('//instagram.com')">
              Instagram
            </button>
            <button mat-raised-button onClick="window.open('//youtube.com')">
              YouTube
            </button>
          </div>
        </div>
        <div class="col-sm-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2">advert</div>
      </div>
    </div>
  </body>
</html>
