body {
  min-height: 101vh;
  background-color: rgb(48, 48, 48);
  font-family: "Nunito", sans-serif;
}

.my-all-buttons .mat-raised-button {
  width: 100%;
  margin: 5px;
}
.hero-image {
  background-image: url("car-meet-wide.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  text-shadow: 5px 5px 4px #444444;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}
.webLogo {
  max-width: 200px;
  padding: 0px;
}
.websiteName {
  padding-top: 30px;
  line-height: 0.8;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black,
    -2px 2px 4px black;
  font-family: "Nunito", sans-serif;
}
button {
  font-family: "Nunito", sans-serif;
  background-color: #005266;
}

mat-card {
  font-family: "Nunito", sans-serif;
}
