<div class="logout-button">
  <button mat-raised-button (click)="logout()">Logout</button>
</div>
<div class="create-event-button">
  <button mat-raised-button (click)="hostEventToggle()">Host an event</button>
</div>

<mat-vertical-stepper linear #stepper id="eventStepper" style="display: none">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose Event Type</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Event type</mat-label>
        <mat-select formControlName="firstCtrl">
          <mat-option
            *ngFor="let event of events"
            [value]="event.value"
            required
          >
            {{ event.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pick Date</ng-template>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [min]="minDate"
          [matDatepicker]="picker"
          formControlName="secondCtrl"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Enter Audience Capacity</ng-template>
      <mat-form-field>
        <mat-label>number of Audience</mat-label>
        <input
          matInput
          formControlName="thirdCtrl"
          placeholder="How many cars you can accomodate?"
          type="number"
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Enter Address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="fourthCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Host the Event!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
