<h1>Shop your favorite merch to support JDM Community!</h1>
<h3>T-Shirts</h3>
<div class="row">
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/shirt1.jpg" style="width: 100px;" class="card-img-top" alt="...">
        T-Shirt1
        <br>
        price: {{shirtPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/shirt2.jpg" style="width: 100px;" class="card-img-top" alt="...">
        T-Shirt2
        <br>
        price: {{shirtPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/shirt3.jpg" style="width: 100px;" class="card-img-top" alt="...">
        T-Shirt3
        <br>
        price: {{shirtPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
</div>
<h3>Hoodies</h3>
<div class="row">
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/hoody1.jpg" style="width: 100px;" class="card-img-top" alt="...">
        Hoody1
        <br>
        price: {{hoodyPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/hoody2.jpg" style="width: 100px;" class="card-img-top" alt="...">
        Hoody2
        <br>
        price: {{hoodyPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/hoody3.jpg" style="width: 100px;" class="card-img-top" alt="...">
        Hoody3
        <br>
        price: {{hoodyPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
</div>
<h3>Caps</h3>
<div class="row">
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/cap1.jpg" style="width: 100px;" class="card-img-top" alt="...">
        cap1
        <br>
        price: {{capPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/cap2.jpg" style="width: 100px;" class="card-img-top" alt="...">
        cap2
        <br>
        price: {{capPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
    <div class="col-sm-2 p-3" style="min-width: 150px; ">
        <img src="../../assets/cap3.jpg" style="width: 100px;" class="card-img-top" alt="...">
        cap3
        <br>
        price: {{capPrice}} AUD
        <br>
        <button mat-raised-button class="btn btn-primary" style="width: 100px;">
            <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
            Buy
        </button>
    </div>
</div>